#Anim_main_container{
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    #Anim_main {
      overflow: hidden;
      z-index: -100;
      -ms-overflow-style: none;
      scrollbar-width: none;
      margin: auto;
      height: 100vh;
    }
    #Anim_main > svg {
      position: relative;
      left: 50% !important;
      transform: translate3d(-50%, 0, 0) !important;
      width: auto !important;
      height: 100%;
      aspect-ratio: 16 / 9;
      background: #76c3de;
    }
